// Big screens
@media screen and (min-width: 768px) {
  // navbar
  .nav-container {
    flex-direction: row;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    display: flex;
    margin-left: 4rem;
    a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .explore {
    grid-template-columns: 1fr;
    grid-gap: 0;
    .sidebar {
      max-width: 100%;
    }
  }
}

// Small devices
@media screen and (max-width: 767px) {
  // Staircase component
  .gallery-item span {
    font-size: 2rem;
    padding: 0 1px 6px 15px;
  }
  .gallery-item-description,
  .gallery-bottom {
    font-size: 1rem;
    padding: 15px 25px;
  }
  .gallery-bottom {
    padding: 10px 25px;
  }
  // Featured rooms
  .featured-rooms-center {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  // Nearby
  .grid-info,
  section.newsletter {
    grid-template-columns: 1fr !important;
  }
}
