// Big screens
@media screen and (min-width: 768px) {
  // navbar
  .nav-container {
    flex-direction: row;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    display: flex;
    margin-left: 4rem;
    a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }
  //Violet Filter
  .search-form {
    width: 95vw;
    max-width: 1170px;
  }
  // Roomsfilter
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-images,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .explore {
    grid-template-columns: 1fr;
    grid-gap: 0;
    .sidebar {
      max-width: 100%;
    }
  }
}

// Small devices
@media screen and (max-width: 767px) {
  // Staircase component
  .gallery-item span {
    font-size: 2rem;
    padding: 0 1px 6px 15px;
  }
  .gallery-item-description,
  .gallery-bottom {
    font-size: 1rem;
    padding: 15px 25px;
  }
  .gallery-bottom {
    padding: 10px 25px;
  }
  // Featured rooms
  .featured-rooms-center {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  // Nearby
  .grid-info,
  section.newsletter {
    grid-template-columns: 1fr !important;
  }
  // Staircase
  .block-content .first {
    padding: 5px 10px 10px;
    text-align: center;
    strong {
      font-size: 1rem;
    }
  }
}
