/* Title */
.section-title {
  text-align: left;
  padding: 20px 0;
  background: $tartViolet;
}
.section-title h4 {
  color: $mainWhite;
  font-size: 1.5rem;
  padding: 0 25px;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
}
/* end of Title */

/* featured rooms */

.featured-rooms {
  padding: 3rem 0;
}

.featured-rooms-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 5px;
}
/* room */
.room {
  position: relative;
  .img-container {
    position: relative;
    height: 435px;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      display: block;
    }
  }
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
}
/* end of room  */
