// Newsletter
section.newsletter {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: $tPink;
  div.form {
    padding: 30px 15px;
    color: $mainWhite;
    span {
      min-width: 100%;
      font-size: 1.75rem;
    }
    form {
      position: relative;
    }
    input {
      font-size: 0.9rem;
      min-height: 3rem;
      padding: 1rem;
      &[type='email'] {
        width: 75%;
        padding-left: 2rem;
      }

      &[type='submit'] {
        width: 25%;
        background: $trueGreen;
        color: $mainWhite;
        border: none;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .icon {
      position: absolute;
      top: 20%;
      left: 3px;
      font-size: 1.75rem;
      color: $tPink;
    }
  }
}

// Footer
footer {
  background: #d9d9d9;
  margin: 2rem 0 0;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
  padding: 15px 0 5px;
  span {
    display: block;
    padding: 0.2rem 0;
  }
}
