@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

@import 'config';
@import 'navbar';
@import 'room';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 78px;
  color: $mainBlack;
  background: $mainWhite;
  line-height: 1.4;
  font-family: 'Arimo', sans-serif;
  letter-spacing: -0.04rem;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

h1 {
  font-size: 3em;
  line-height: 1;
}
// h2 {
//   font-size: 2em;
//   margin-bottom: 0.75em;
// }
// h3 {
//   font-size: 1.5em;
//   line-height: 1;
//   margin-bottom: 1em;
// }
// h4 {
//   font-size: 1.2em;
//   line-height: 1.25;
//   margin-bottom: 1.25em;
// }
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

section.narrow {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  float: none;
  overflow: hidden;
}

/* Showcase */
.defaultShowcase,
.roomsShowcase {
  min-height: calc(100vh - 66px);
  background: url('./images/breakfast.jpg') center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  // z-index: 1;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.3);
  // }
}
.roomsShowcase {
  background-image: url('./images/room-2.jpeg');
  min-height: 60vh;
}

.gallery-room {
  position: absolute;
  top: 0%;
  z-index: 1;
  text-align: center;
  .gallery-item-header span {
    color: $trueGreen;
    font-size: 3rem;
    line-height: 0.8;
  }
}
/* End of Showcase */
.gallery-item-header {
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  max-width: 40%;
  text-align: right;

  span {
    background: $mainWhite;
    font-size: 4rem;
    font-weight: 700;
    padding: 0 1px 14px 15px;
    text-align: right;
    display: block;
    mix-blend-mode: screen;
    line-height: 0.7;
    text-transform: lowercase;
  }
}

.gallery-item-description {
  display: block;
  background: rgba($trueGreen, 0.85);
  padding: 25px 35px;
  font-size: 2rem;
  line-height: 1.1;
  max-width: 50%;
  color: $mainWhite;
  letter-spacing: initial;
}

.gallery-bottom {
  color: $mainWhite;
  background: $tastyOrange;
  padding: 15px 35px;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 700;
  max-width: 48%;
}

// explore
.explore {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 30px;
}

.article {
  color: $mainBlack;
  margin: 1.5rem 0;
  font-size: 0.95rem;
  letter-spacing: 0;
  &-header {
    color: $trueGreen;
    font-size: 2.75rem;
    font-weight: 700;
    padding: 2rem 0 1rem;
    line-height: initial;
  }
  &-subheader {
    color: $trueGreen;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
    line-height: 1;
  }
  ul {
    margin-left: 1rem;
  }
  li {
    padding: 0.5rem 0;
  }
}

.sidebar {
  margin: 1.75rem 0;
  color: $mainWhite;
  width: 100%;
  max-width: 230px;
  .price-teaser {
    background: $topBlue;
    padding: 15px 15px 10px;
    text-align: center;

    span {
      display: block;
      line-height: 1;
    }
    span.price-text {
      font-size: 1.3rem;
    }
    span.price {
      margin-top: 5px;
      font-size: 2.2rem;
    }
  }
  .hotel-at-glance {
    background: $tenderBlue;
    padding: 2rem 1.5rem;
    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      border-bottom: 1px solid $mainWhite;
      padding-bottom: 0.5rem;
    }
    ul {
      margin: 1rem 0 0 0.5rem;
      padding-left: 0.2rem;
      font-size: 0.95rem;
      letter-spacing: normal;
    }
    li {
      padding: 0.2rem;
    }
  }
}

section.nearby {
  color: $mainWhite;
  background: $tenderBlue;
  margin-bottom: 2rem;
  h2 {
    padding: 1rem 1.5rem;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
  }
  .grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
  .sight {
    background: $topBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    span {
      min-width: 50px;
    }
  }
}

section.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: $tPink;
  div.form {
    padding: 30px 15px;
    color: $mainWhite;
    span {
      min-width: 100%;
      font-size: 1.75rem;
    }
    form {
      position: relative;
    }
    input {
      font-size: 0.9rem;
      min-height: 3rem;
      // max-height: 40px;
      padding: 1rem;
      &[type='email'] {
        width: 75%;
        padding-left: 2rem;
      }

      &[type='submit'] {
        width: 25%;
        background: $trueGreen;
        color: $mainWhite;
        border: none;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .icon {
      position: absolute;
      top: 20%;
      left: 3px;
      font-size: 1.75rem;
      color: $tPink;
    }
  }
}

footer {
  background: #d9d9d9;
  margin: 2rem 0 0;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
  padding: 15px 0 5px;
  span {
    display: block;
    padding: 0.2rem 0;
  }
}

@import 'mobile';
