@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

@import 'config';
@import 'navbar';
@import 'room';
@import 'utilities';
@import 'staircases';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 78px;
  color: $mainBlack;
  background: $mainWhite;
  line-height: 1.4;
  font-family: 'Arimo', sans-serif;
  letter-spacing: -0.04rem;
}

input,
button,
select {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  color: $trueGreen;
  font-size: 1rem;
  font-weight: bold;
}

.narrow {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  float: none;
  overflow: hidden;
}

/* Showcase */
.defaultShowcase,
.roomsShowcase {
  min-height: calc(100vh - 66px);
  background: url('./images/breakfast.jpg') center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.roomsShowcase {
  background-image: url('./images/room-12.jpeg');
  min-height: 70vh;
}

.gallery-room {
  position: absolute;
  top: 0%;
  z-index: 1;
  text-align: center;
  .gallery-item-header span {
    color: $trueGreen;
    font-size: 3rem;
    line-height: 0.8;
  }
}

// Home page: explore
.explore {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 30px;
}

.article {
  color: $mainBlack;
  margin: 1.5rem 0;
  font-size: 0.95rem;
  letter-spacing: 0;
  &-header {
    color: $trueGreen;
    font-size: 2.75rem;
    font-weight: 700;
    padding: 2rem 0 1rem;
    line-height: initial;
  }
  &-subheader {
    color: $trueGreen;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
    line-height: 1;
  }
}

.standard-list {
  margin-left: 1rem;
  li {
    padding: 0.5rem 0;
  }
}

// Blue side bar on Home
.sidebar {
  margin: 1.75rem 0;
  color: $mainWhite;
  width: 100%;
  max-width: 230px;
  .price-teaser {
    background: $topBlue;
    padding: 15px 15px 10px;
    text-align: center;

    span {
      display: block;
      line-height: 1;
    }
    span.price-text {
      font-size: 1.3rem;
    }
    span.price {
      margin-top: 5px;
      font-size: 2.2rem;
    }
  }
  .hotel-at-glance {
    background: $tenderBlue;
    padding: 2rem 1.5rem;
    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      border-bottom: 1px solid $mainWhite;
      padding-bottom: 0.5rem;
    }
    ul {
      margin: 1rem 0 0 0.5rem;
      padding-left: 0.2rem;
      font-size: 0.95rem;
      letter-spacing: normal;
    }
    li {
      padding: 0.2rem;
    }
  }
}

section.nearby {
  color: $mainWhite;
  background: $tenderBlue;
  margin-bottom: 2rem;
  h2 {
    padding: 1rem 1.5rem;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
  }
  .grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
  .sight {
    background: $topBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    span {
      min-width: 50px;
    }
  }
}

// Violet Filter on HotelRooms
.filter-container {
  background: $tartViolet;
  color: $mainWhite;
  input {
    cursor: pointer;
  }
  select,
  input[type='date'] {
    background: $mainWhite;
    font-size: 1rem;
    height: 45px;
    padding: 10px 30px;
    border: 1px solid $mainWhite;
    width: 100%;
  }
  input[type='checkbox'] {
    transform: scale(1.4);
  }
}

.search-form {
  width: 95vw;
  margin: 0 auto;
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 20px;
}
.form-group {
  text-transform: capitalize;
  position: relative;
  &-checks {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 1rem;
    > div {
      display: flex;
      align-items: center;
    }
    .single-extra {
      padding: 0 15px;
    }
    input#clear {
      margin: 1rem 1rem;
      padding: 5px 15px;
      color: $tPink;
      border-radius: 5px;
      font-weight: 700;
      border: 1px dotted $tPink;
    }
  }
  .filter-icon {
    position: absolute;
    top: 56%;
    left: 7px;
    color: $tastyOrange;
    font-size: 1.2rem;
  }
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  letter-spacing: normal;
}
// Enf of Filter

// RoomsList
.roomslist {
  padding: 5rem 0;
  .roomslist-center {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
  }
}

// SingleRoom
.gallery {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: rgba($mainBlack, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  &-img {
    display: block;
    max-width: 900px;
    cursor: pointer;
    border: 10px solid $mainWhite;
    border-right-color: $trustyBlue;
  }
  &-close {
    color: $tPink;
    background: $mainWhite;
    cursor: pointer;
    padding: 10px 7px;
    font-weight: 700;
  }
  .image-wrapper {
    position: relative;
  }
}

.bg {
  background: url('./images/single-room-bg.jpg') no-repeat center center/cover;
  padding: 3rem 0;
}

.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 5px;
  .single-image {
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: $mainTransition;
    border: 1px solid transparent;
    border-bottom: 7px solid transparent;
    padding-bottom: 5px;
    &:hover {
      transform: scale(1.1);
      z-index: 5;
      transition: $mainTransition;
      border: 1px solid $mainWhite;
      border-bottom: 7px solid $tartViolet;
      background: $mainWhite;
      .zoom {
        opacity: 1;
      }
    }
  }
  .zoom {
    position: absolute;
    top: 50%;
    left: 47%;
    z-index: 100;
    font-size: 1.5rem;
    opacity: 0;
    color: $tastyOrange;
  }
}
.single-room-images img {
  width: 100%;
  display: block;
}

.desc {
  margin: 3rem 0 2rem;
  h3 {
    text-transform: capitalize;
  }
  p {
    line-height: 1.5;
  }
}

// Error page
.error {
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .warning {
    background: url('./images/404-page-not-found.jpg') no-repeat center/contain;
    width: 100vw;
    z-index: 1;
    height: 400px;
  }
}

@import 'mobile';
