@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

@import 'config';
@import 'navbar';
@import 'room';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 78px;
  color: $mainBlack;
  background: $mainWhite;
  line-height: 1.4;
  font-family: 'Arimo', sans-serif;
  letter-spacing: -0.04rem;
}

input,
button,
select {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

h1 {
  font-size: 3em;
  line-height: 1;
}
// h2 {
//   font-size: 2em;
//   margin-bottom: 0.75em;
// }
// h3 {
//   font-size: 1.5em;
//   line-height: 1;
//   margin-bottom: 1em;
// }
// h4 {
//   font-size: 1.2em;
//   line-height: 1.25;
//   margin-bottom: 1.25em;
// }
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.narrow {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  float: none;
  overflow: hidden;
}

/* Showcase */
.defaultShowcase,
.roomsShowcase {
  min-height: calc(100vh - 66px);
  background: url('./images/breakfast.jpg') center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  // z-index: 1;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.3);
  // }
}
.roomsShowcase {
  background-image: url('./images/room-2.jpeg');
  min-height: 60vh;
}

.gallery-room {
  position: absolute;
  top: 0%;
  z-index: 1;
  text-align: center;
  .gallery-item-header span {
    color: $trueGreen;
    font-size: 3rem;
    line-height: 0.8;
  }
}
/* End of Showcase */
.gallery-item-header {
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  max-width: 40%;
  text-align: right;

  span {
    background: $mainWhite;
    font-size: 4rem;
    font-weight: 700;
    padding: 0 1px 14px 15px;
    text-align: right;
    display: block;
    mix-blend-mode: screen;
    line-height: 0.7;
    text-transform: lowercase;
  }
}

.gallery-item-description {
  display: block;
  background: rgba($trueGreen, 0.85);
  padding: 25px 35px;
  font-size: 2rem;
  line-height: 1.1;
  max-width: 50%;
  color: $mainWhite;
  letter-spacing: initial;
}

.gallery-bottom {
  color: $mainWhite;
  background: $tastyOrange;
  padding: 15px 35px;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 700;
  max-width: 48%;
}

// explore
.explore {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 30px;
}

.article {
  color: $mainBlack;
  margin: 1.5rem 0;
  font-size: 0.95rem;
  letter-spacing: 0;
  &-header {
    color: $trueGreen;
    font-size: 2.75rem;
    font-weight: 700;
    padding: 2rem 0 1rem;
    line-height: initial;
  }
  &-subheader {
    color: $trueGreen;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
    line-height: 1;
  }
}

.standard-list {
  margin-left: 1rem;
  li {
    padding: 0.5rem 0;
  }
}

.sidebar {
  margin: 1.75rem 0;
  color: $mainWhite;
  width: 100%;
  max-width: 230px;
  .price-teaser {
    background: $topBlue;
    padding: 15px 15px 10px;
    text-align: center;

    span {
      display: block;
      line-height: 1;
    }
    span.price-text {
      font-size: 1.3rem;
    }
    span.price {
      margin-top: 5px;
      font-size: 2.2rem;
    }
  }
  .hotel-at-glance {
    background: $tenderBlue;
    padding: 2rem 1.5rem;
    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      border-bottom: 1px solid $mainWhite;
      padding-bottom: 0.5rem;
    }
    ul {
      margin: 1rem 0 0 0.5rem;
      padding-left: 0.2rem;
      font-size: 0.95rem;
      letter-spacing: normal;
    }
    li {
      padding: 0.2rem;
    }
  }
}

section.nearby {
  color: $mainWhite;
  background: $tenderBlue;
  margin-bottom: 2rem;
  h2 {
    padding: 1rem 1.5rem;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
  }
  .grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
  .sight {
    background: $topBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    span {
      min-width: 50px;
    }
  }
}

section.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: $tPink;
  div.form {
    padding: 30px 15px;
    color: $mainWhite;
    span {
      min-width: 100%;
      font-size: 1.75rem;
    }
    form {
      position: relative;
    }
    input {
      font-size: 0.9rem;
      min-height: 3rem;
      padding: 1rem;
      &[type='email'] {
        width: 75%;
        padding-left: 2rem;
      }

      &[type='submit'] {
        width: 25%;
        background: $trueGreen;
        color: $mainWhite;
        border: none;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .icon {
      position: absolute;
      top: 20%;
      left: 3px;
      font-size: 1.75rem;
      color: $tPink;
    }
  }
}

footer {
  background: #d9d9d9;
  margin: 2rem 0 0;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
  padding: 15px 0 5px;
  span {
    display: block;
    padding: 0.2rem 0;
  }
}

/*  rooms fitler*/
.filter-container {
  background: $tartViolet;
  color: $mainWhite;
  input {
    cursor: pointer;
  }
  select,
  input[type='date'] {
    background: $mainWhite;
    font-size: 1rem;
    height: 45px;
    padding: 10px 30px;
    border: 1px solid $mainWhite;
    width: 100%;
  }
  input[type='checkbox'] {
    transform: scale(1.4);
  }
}

.search-form {
  width: 95vw;
  margin: 0 auto;
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 20px;
}
.form-group {
  text-transform: capitalize;
  position: relative;
  &-checks {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 1rem;
    > div {
      display: flex;
      align-items: center;
    }
    .single-extra {
      padding: 0 15px;
    }
    input#clear {
      margin: 1rem 1rem;
      padding: 5px 15px;
      color: $tPink;
      border-radius: 5px;
      font-weight: 700;
      border: 1px dotted $tPink;
    }
  }
  .filter-icon {
    position: absolute;
    top: 56%;
    left: 7px;
    color: $tastyOrange;
    font-size: 1.2rem;
  }
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  letter-spacing: normal;
}
@media screen and (min-width: 776px) {
  .search-form {
    // width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .search-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/

/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */

/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: rgba($mainBlack, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  &-img {
    display: block;
    max-width: 900px;
    cursor: pointer;
    border: 10px solid #fff;
    // margin:
  }
}

.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
// .single-room-info {
//   width: 80vw;
//   display: grid;
//   grid-template-columns: 1fr;
//   margin: 2rem auto;
// }
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  // .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/

@import 'mobile';
